<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.master.frame.mybatis.mapper.UserMapper">
    <select id="load" resultType="com.master.frame.mybatis.domain.User">
        select * from mybatis_user_tbl
    </select>
    <!-- typeAlias user is defined in config.xml -->
    <select id="findUserByUserName" parameterType="java.lang.String" resultType="user">
        select * from mybatis_user_tbl where username like '%${value}%'
    </select>
    <insert id="add" parameterType="user">
        insert into mybatis_user_tbl(username,gender,email) values(#{username},#{gender},#{email})
    </insert>
    <!-- string is an alias defined by mybatis. please see TypeAliasRegistry -->
    <delete id="delete" parameterType="String">
        delete from mybatis_user_tbl where username=#{username}
    </delete>
    <update id="update" parameterType="user">
        update mybatis_user_tbl set gender=#{gender},email=#{email} where username=#{username}
    </update>
    <update id="createUserTbl">
        create table mybatis_user_tbl (
        username varchar(20) not null,
        gender char(2),
        email varchar(30),
        primary key (username))
    </update>
    <update id="dropIfExistUserTbl">
        drop table if exists mybatis_user_tbl
    </update>

</mapper>